<form [formGroup]="paymentSettingForm" (ngSubmit)="savePaymentSetting()" id="payment-settings-tab-content">
    <div class="flex justify-center items-center z-0 w-full mb-5 group">
        <label class="block w-1/6 mb-2 text-sm font-medium text-gray-900 dark:text-white">Paypal API URL:</label>
        <app-input class="w-4/6" [control]="PAYPAL_API_BASE_URL" [type]="'text'" [required]="true"></app-input>
    </div>

    <div class="flex justify-center items-center z-0 w-full mb-5 group">
        <label class="block w-1/6 mb-2 text-sm font-medium text-gray-900 dark:text-white">Paypal Client ID:</label>
        <app-input class="w-4/6" [control]="PAYPAL_API_CLIENT_ID" [type]="'text'" [required]="true"></app-input>
    </div>

    <div class="flex justify-center items-center z-0 w-full mb-5 group">
        <label class="block w-1/6 mb-2 text-sm font-medium text-gray-900 dark:text-white">Paypal Client Secret:</label>
        <app-input class="w-4/6" [control]="PAYPAL_API_CLIENT_SECRET" [type]="'text'" [required]="true"></app-input>
    </div>

    <!-- Footer -->
    <div class="text-center justify-content-center">
        <button type="submit" [disabled]="paymentSettingForm.invalid"
        class="text-white w-1/4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Save Payment Settings</button>
    </div>
</form>