<form [formGroup]="mailServerSettingForm" (ngSubmit)="saveMailServerSettings()" id="mail-server-settings-tab-content">
    <div class="flex justify-center items-center z-0 w-full mb-5 group">
        <label class="block w-1/4 mb-2 text-sm font-medium text-gray-900 dark:text-white">SMTP Server Host Name:</label>
        <app-input class="w-1/3" [control]="MAIL_HOST" [type]="'text'" [required]="true"></app-input>
    </div>

    <div class="flex justify-center items-center z-0 w-full mb-5 group">
        <label class="block w-1/4 mb-2 text-sm font-medium text-gray-900 dark:text-white">Port Number:</label>
        <app-input class="w-1/3" [control]="MAIL_PORT" [type]="'text'" [required]="true"></app-input>
    </div>

    <div class="flex justify-center items-center z-0 w-full mb-5 group">
        <label class="block w-1/4 mb-2 text-sm font-medium text-gray-900 dark:text-white">User Name:</label>
        <app-input class="w-1/3" [control]="MAIL_USERNAME" [type]="'text'" [required]="true"></app-input>
    </div>

    <div class="flex justify-center items-center z-0 w-full mb-5 group">
        <label class="block w-1/4 mb-2 text-sm font-medium text-gray-900 dark:text-white">Password:</label>
        <app-input class="w-1/3" [control]="MAIL_PASSWORD" [type]="'text'" [required]="true"></app-input>
    </div>

    <div class="flex justify-center items-center mb-5">
        <label for="decimal_point_type" class="block w-1/4 mb-2 text-sm font-medium text-gray-900 dark:text-white">Server Authentication Required:</label>
        <select id="decimal_point_type" [formControl]="SMTP_AUTH" required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
    </div>

    <div class="flex justify-center items-center mb-5">
        <label for="decimal_point_type" class="block w-1/4 mb-2 text-sm font-medium text-gray-900 dark:text-white">Server Requires Secured Connection (TLS):</label>
        <select id="decimal_point_type" [formControl]="SMTP_SECURED" required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
    </div>

    <div class="flex justify-center items-center z-0 w-full mb-5 group">
        <label class="block w-1/4 mb-2 text-sm font-medium text-gray-900 dark:text-white">From E-mail Address:</label>
        <app-input class="w-1/3" [control]="MAIL_FROM" [type]="'text'" [required]="true"></app-input>
    </div>

    <div class="flex justify-center items-center z-0 w-full mb-5 group">
        <label class="block w-1/4 mb-2 text-sm font-medium text-gray-900 dark:text-white">Sender Name:</label>
        <app-input class="w-1/3" [control]="MAIL_SENDER_NAME" [type]="'text'" [required]="true"></app-input>
    </div>

    <!-- Footer -->
    <div class="text-center justify-content-center">
        <button type="submit" [disabled]="mailServerSettingForm.invalid"
        class="text-white w-1/4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Save Mail Server Settings</button>
    </div>
</form>