<div class="my-20 text-center justify-center text-gray-900 dark:text-white bg-white dark:bg-gray-800">
    <h2 class="mb-5 text-3xl font-extrabold leading-none tracking-tight md:text-4xl lg:text-5xl">Customer Verification</h2>
    
    @if (isVerified()) {
        <h4 class="mb-5 text-xl font-bold leading-none tracking-tight md:text-xl lg:text-2xl">Congratulations! Your account has been verified successfully.</h4>
        <p class="mb-5 text-blue-700 dark:text-blue-500 text-base font-medium leading-none tracking-tight md:text-lg lg:text-xl">
            <a routerLink="/sign-in" class="underline">Sign In Now</a>
        </p>
    } @else {
        <h4 class="mb-5 text-xl font-bold leading-none tracking-tight md:text-xl lg:text-2xl">Your account was already verified or verification code is invalid.</h4>
    }
</div>