<div *ngIf="isVisible" id="add-product-modal" tabindex="-1" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative p-4 w-full h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Add Product
                </h3>
                <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="p-4">
                <form class="w-max mx-auto mb-2" [formGroup]="searchForm" (ngSubmit)="search()">
                    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="flex justify-center">
                        <select (change)="findByCategory($event)" formControlName="categoryID"
                            class="block me-2 p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-200 focus:border-blue-200 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-200 dark:focus:border-blue-200">
                            <option selected value="0">All Categories</option>
                            <option *ngFor="let cat of listCategories" [value]="cat.id">{{ cat.name }}</option>
                        </select>
                
                        <div class="relative w-80">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input formControlName="keyword" type="search" id="search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-200 focus:border-blue-200 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-200 dark:focus:border-blue-200" placeholder="Search..." required />
                        </div>
                        <button type="submit" class="ms-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                        <button type="button" (click)="clear()" class="ms-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Clear</button>
                    </div>
                </form>

                <div class="px-4" *ngIf="listProducts.length > 0">
                    <div class="grid md:grid-cols-3 lg:grid-cols-5 gap-4 py-4">
                        <div *ngFor="let product of listProducts"
                            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                            <a [href]="'/products/' + product.alias" class="h-[250px] md:h-[300px] lg:h-[350px]">
                                <img class="h-[200px] md:h-[250px] lg:h-[300px] w-full rounded-lg"
                                    src="{{ product.mainImagePath }}" alt="{{ product.name }}">
                            </a>
                            <div class="px-5 pb-5">
                                <a [href]="'/products/' + product.alias" title="{{ product.name }}" class="h-[80px]">
                                    <h5 class="sm:text-base md:text-lg font-semibold tracking-tight text-gray-900 dark:text-white">{{ getShortName(product.name) }}</h5>
                                </a>
                                <div class="flex items-center mt-2.5 mb-5">
                                    <div class="flex items-center space-x-1 rtl:space-x-reverse">
                                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor" viewBox="0 0 22 20">
                                            <path
                                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                        </svg>
                                    </div>
                                    <span
                                        class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">{{ product.averageRating }}</span>
                                </div>
                                <div class="flex items-center justify-between sm:text-lg md:text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                                    <div *ngIf="product.discountPercent > 0">
                                        <span>
                                            {{ settingService.getFormatMoney(product.discountPrice) }}
                                        </span>
                                        <span *ngIf="product.discountPercent > 0" class="sm:text-sm md:text-base font-medium text-red-900">
                                            (-{{ product.discountPercent }}%)
                                        </span>
                                    </div>
                                    <div *ngIf="product.discountPercent <= 0">
                                        <span>
                                            {{ settingService.getFormatMoney(product.price) }}
                                        </span>
                                    </div>
                                    <button type="button" (click)="addProductToOrder(product.id)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><i class="fa-solid fa-xl fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="flex items-center justify-center mx-auto -space-x-px rtl:space-x-reverse text-base h-8">
                        <li>
                            <button type="button" (click)="goToPage(1)" [class]="pageNum > 1 ? '' : 'disabled'" title="First" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">First</span>
                                <i class="fa-solid fa-angles-left"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" (click)="goToPage(pageNum - 1)" [class]="pageNum > 1 ? '' : 'disabled'" title="Previous" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Previous</span>
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
                        </li>
                        <li *ngIf="pageNum > 3">
                            <button type="button" title="Previous" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" disabled>...</button>
                        </li>
                        <li *ngFor="let pageNumber of [].constructor(totalPages); let i = index">
                            <button type="button" *ngIf="i + 1 != pageNum && pageNum - 4 < i && i < pageNum + 2" 
                                (click)="goToPage(i + 1)"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ i + 1 }}</button>
                            <button type="button" *ngIf="i + 1 == pageNum" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white" disabled>{{i + 1}}</button>
                        </li>
                        <li *ngIf="pageNum + 2 < totalPages">
                            <button type="button" title="Previous" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" disabled>...</button>
                        </li>
                        <li>
                            <button type="button" (click)="goToPage(pageNum + 1)" [class]="pageNum < totalPages ? '' : 'disabled'" title="Next" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Next</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" (click)="goToPage(totalPages)" [class]="pageNum < totalPages ? '' : 'disabled'" title="Last" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Last</span>
                                <i class="fa-solid fa-angles-right"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
